* { box-sizing: border-box; }
.flex-row { display: flex; flex-wrap: wrap; align-items: center; }
.flex-column { display: flex; flex-flow: column; }
.flex { flex: 1; min-width:350px; max-width:100% }

body {font-family:'Comfortaa', cursive; font-size: 16px; color: #3B3C3F; margin: 0;}

section, header { width:100%; margin: 0 auto; text-align:center}
header { position: sticky; top: 0; padding: .7rem 0; z-index: 1; ; background-color:rgba(255, 255, 255, .9)}
.container{width:1200px; max-width:100%; margin:0 auto;}

.syn-small img { max-width: 100%;}
.syn-small section p { padding: 0 .5rem; }

nav { text-align: center; padding:1em; font-family:'Play', sans-serif;}
nav #sticky { position: absolute; top: 0; left: 0;}
nav #sticky #logo { width: 210px; top: 0; transition: width .5s; }
.syn-small nav #sticky #logo { width: 72px; margin: 0 12px; }
nav ul { list-style: none; padding: 0; margin: 0; }
nav ul > li { display: inline-block; margin-right: 3rem; font-size:16px; }
nav ul > li a { display: inline-block; color: inherit; text-decoration: none; padding: .5rem 0; }
nav ul > li.active a { font-weight: 400; border-bottom: solid 2px #3B3C3F;}
.syn-small nav.syn-hamburger > button { margin: 0 .5rem; }
.syn-small nav.syn-hamburger-open > ul > li { text-align: center; font-size: 1.4rem; }
nav .larger{font-size:20px}

section { margin-bottom: 3rem; }
h1 { font-family:'Play', sans-serif; font-size: 1.8rem; margin-bottom: 2rem; font-weight:400; }
p { margin: .9rem 0 .9rem; line-height:1.8}

#home img{width:100%}

#services .tv-service {text-align:center}
#services .tv-service .flex-row{align-content: center;}
#services .tv-service .flex-row div {flex:1}
#services .tv-service .flex-row img{height: 25px; width:auto; margin:1.5em;}
#services p{font-size:21px}

#services .card{margin-top:4em; width:600px; max-width:100%; min-height:230px; align-self: flex-start;}
#services .card ul{list-style:none}
#services .card ul li{line-height:35px; }

#contact img {width:20px; height:auto; margin-right:.5em; display:inline-block}
#contact p{text-align:left}
#contact a {font-size:18px; text-decoration:none; color:black}
#contact .hours {margin-top:2em; border-top:1px dotted #3B3C3F}
.hours ul{list-style:none; text-align:left; padding-inline-start:30px;}
.hours ul li {line-height:150%; margin-bottom:1em}
#contact .flex{padding-right:2em}

footer{background-color:#3B3C3F; padding:1em 0}
footer p{font-size:14px; margin:0; padding:0; color:white; text-align:center}
